.chart-container {
    //width: 80; /* Adjust the width of the chart */
    margin-top: 10px; /* Adjust the margin to create space at the top */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center; /* Center align the heading */
    margin-top: 30px; /* Add margin to the top of the heading */
    margin-bottom: 20px; /* Add margin to the bottom of the heading */
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
}
