.main-text{
    color: white;
    font-family: 'Coolvetica';
    font-size: 40px;
    letter-spacing: 0.5px;
    margin-top: 2%;
    margin-left: 2%;
}

.car{
    display: block;
    font-size: 400px;
    position: absolute;
    left: 10%;
    animation: bounceIn 3s ease-in-out;
}

.person{
  display: block;
  position: absolute;
  font-size: 100px;
  top: 400px;
  left: 50px;
  animation: pushOffScreen 6s 1s forwards; /* Apply the pushOffScreen animation */

}

.count{
  position: absolute;
  left: 75%;
  top: 14%;
  
  .button{
    font-size: 20px;
    font-family: 'Coolvetica';
    color: white;
    background-color: black;
    border: none;
  }

  .text-result{
    color: white;
    font-family: 'Coolvetica';
    font-size: 20px;
  }
}


@keyframes bounceIn {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes pushOffScreen {
    0% {
        transform: translateX(0); /* Start with no translation (div in its original position) */
    }
    100% {
        transform: translateX(-200%); /* End with translation to the left by 100% of its width */
    }
}
