.main-text{
    color: white;
    font-family: 'Coolvetica';
    font-size: 40px;
    letter-spacing: 0.5px;
    margin-top: 2%;
    margin-left: 2%;
}

.car{
    display: block;
    font-size: 400px;
    position: relative;
    left: 10%;
}

ul{
    position: fixed;
    left: 60%;
    top: 45%;

    li{
        color: white;
        font-size: 30px;
        font-family: 'Coolvetica';
    }
}